/* top right bottom left */
/* top-bottom left-right */
body {
 overflow : hidden;
 }

.message {
 width      : 100%;
 text-align : center;
 margin-top : 40px;
 }

.message-hide {
 display : none;
 }

div {
 box-sizing : border-box;
 }

#content {
 box-sizing : border-box;
 width      : 195px;
 margin     : 5px auto;
 }

.content-hide {
 display : none;
 }

.block {
 box-sizing    : border-box;
 border-bottom : 1px solid rgba(0, 0, 0, .3);
 border-top    : 1px solid rgba(255, 255, 255, .2);
 width         : 195px;
 padding       : 4px 2px 4px 2px;
 }

.main {
 width   : 195px;
 padding : 0px 2px 0px 2px;
 }

.main-close {
 border-bottom : none;
 }

.footer {
 border-bottom : none;
 }

.footer-close {
 border-top : none;
 }

.row {
 width   : 190px;
 height  : 24px;
 padding : 1px 0;
 }

.row:last-child {
 border : none;
 }

.settings-close {
 display : none;
 }

.hostButton {
 border        : 1px solid;
 border-radius : 2px;
 height        : 20px;
 font-family   : inherit;
 color         : inherit;
 font-size     : inherit;
 overflow      : hidden;
 }

.slave-buttons {
 display        : flex;
 flex-direction : column;
 flex-wrap      : wrap;
 padding        : 0;
 margin-top     : 5px;
 }

#btn_save, #btn_defaults, #btn_refresh {
 width : 33%;
 }

input {
 box-sizing : border-box;
 display    : inline-block;
 }

input[type=checkbox].ch_base {
 opacity  : 1;
 display  : inline-block;
 position : relative;
 margin   : 3px 0 0 -1px;
 }

input[type=radio].rd_base {
 opacity  : 1;
 display  : inline-block;
 position : relative;
 margin   : 3px 0 0 -1px;
 }

input[type=text] {
 border : 1px solid rgba(0, 0, 0, .4);
 height : 20px;
 }

input[type=number] {
 border : 1px solid rgba(0, 0, 0, .4);
 margin : 1px 2px 0 0;
 height : 20px;
 }

.txt_fld {
 text-align : center;
 height     : 19px;
 }

#lay_name_val {
 width : 124px;
 }

#reduce_val {
 display : inline-block;
 width   : 50px;
 }

.label {
 display        : inline-block;
 vertical-align : middle;
 height         : 16px;
 padding        : 4px 0 0 0;
 padding-right  : 5px;
 }

.lbl_fld {
 width      : 58px;
 text-align : right;
 }

#sel_font {
 width  : 169px;
 height : 20px;
 margin : 1px 0 0 0;
 float  : right;
 }

#lbl_fonts {
 display       : inline-block;
 box-sizing    : border-box;
 padding-left  : 2px;
 font-weight   : bold;
 font-size     : 1.6em;
 text-align    : right;
 padding-right : 2px;
 border-bottom : 1px solid;
 margin-bottom : 11px;
 }

.lbl_table {
 width : 65px;
 }

#enter_code_row {
 display        : flex;
 flex-direction : column;
 flex-wrap      : wrap;
 padding        : 0;
 font-weight    : bold;
 }

#code_val {
 width       : 70%;
 font-weight : bold;
 }

#check_digit {
 width      : 10%;
 text-align : center;
 height     : 20px;
 }

#btn_gen {
 width : 20%;
 }

.settings-title {
 font-weight : bold;
 margin      : 1px -15px 0 0;
 height      : 18px;
 width       : 195px;
 padding     : 2px 2px 0 0;
 /*border-bottom : 1px solid rgba(0, 0, 0, .4);*/
 }

.settings-title span:hover {
 cursor : pointer;
 }

.settings-title span {
 margin-left : 4px;
 }
#settings{
 border-top : 1px solid rgba(0, 0, 0, .4);
 }

#lay_name_val {
 /*this dont work from style.css*/
 width      : 123px !important;
 text-align : left !important;
 padding    : 0 4px !important;
 }